#course-search .row {
  padding: 15px 0px;
}

#main .tooltip-inner p {
  text-align: left;
  font-size: 13px;
  line-height: 16px;
  color: white;
  margin-bottom: 0px;
  padding: 5px;
}

#main .tooltip p a {
  color: #ccc;
  font-weight: bold;
}
