#course-status {
  padding-top: 20px;
}

.results-table {
  color: #029;
  font-size: 13px;
  margin-top: 30px;
}

.results-table thead {
  font-weight: bold;
}

.results-table thead td {
  white-space: nowrap;
}

table.results-table tr td {
  border-top: 1px dotted #dddddd;
}

.comments, .hint {
  color: #666;
  font-style: italic;
}

.status {
  white-space: nowrap;
  display: block;
  padding-left: 21px;
  margin-bottom: 8px;
}

td .status:last-child {
  margin-bottom: 0px;
}

.date {
  white-space: nowrap;
}

.status-open {
  background: url(/images/statuses/open.png) left no-repeat;
  background-size: 16px;
}

.status-waitlist {
  background: url(/images/statuses/waitlist.png) left no-repeat;
  background-size: 16px;
}

.status-closed, .status-long_waitlist {
  background: url(/images/statuses/closed.png) left no-repeat;
  background-size: 16px;
}

#search-dates {
  height: 83px;
}

.search-panel {
  padding: 5px 3%;
  margin-bottom: 0px;
}

.search-toolbar {
  padding: 9px 2.2%;
  border: solid #EFC72A;
  border-width: 1px 0px;
}

.btn-apply {
  //background: -moz-linear-gradient(top,#4687ce 0,#3068a2 100%);
  //background: -webkit-linear-gradient(top,#4687ce 0,#3068a2 100%);
  //background: -o-linear-gradient(top,#4687ce 0,#3068a2 100%);
  //background: -ms-linear-gradient(top,#4687ce 0,#3068a2 100%);
  //background: linear-gradient(top,#4687ce 0,#3068a2 100%);
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 #205081;
  background: #57a8ff;
  border-color: #57a8ff;
}

.btn-apply:hover, .btn-apply:focus, .btn-apply:active, .btn-apply.active, .open .dropdown-toggle.btn-apply {
  color: #fff;
  border-color: #3485f0;
  background: #3485F0;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  padding: 8px 0px 8px 3%;
}

.table thead > tr > th:last-child, .table tbody > tr > th:last-child, .table tfoot > tr > th:last-child, .table thead > tr > td:last-child, .table tbody > tr > td:last-child, .table tfoot > tr > td:last-child {
  padding-right: 3%;
}

.search-toolbar .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-toolbar .btn-link {
  color: #999;
}

.search-toolbar .btn-link:hover {
  text-decoration: none;
}

.search-toolbar .btn-link.active {
  color: #029;
}

.results-table.table-hover > tbody > tr:hover > td, .results-table.table-hover > tbody > tr:hover > th {
  background-color: #eff2ff;
}

.list-item.row {
  padding: 0px 3%;
}

.course.row .course-location {
  padding-left: 5px;
}
