#location-search {
  margin: 0px 0px 22px;
  width: 100%;
}

#location-search .row {
  padding: 15px 0px;
}

.location-info {
  margin-bottom: 20px;
}

.location-info h4 {
  white-space: nowrap;
}

.location-image-container {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}

#selected-location .location-image-container {
  margin: -15px -15px 0px; 
}

#selected-location .panel-footer {
  margin-top: -15px;
}

.location-image {
  position: relative;
  // top: -80px;
  width: 100%;
}

.location-body {
  margin-left: 15px;
}

.meta {
  font-size: 13px;
  display: block;
  text-align: center;
  clear: both;
}

td.location img {
  margin-right: 5px;
  width: 60px;
}

.location-link.selected {
  font-weight: bold;
}

.location-links {
  position: relative;
  left: -10px;
}

.location-links a {
  color: #029;
}

.center {
  text-align: center;
}

#selected-location .location-links {
  margin-bottom: 20px;
}

.location-body h3 {
  margin-top: 10px;
}

#locations-carousel {
  margin-bottom: 30px;
}

.small {
  font-size: 11px;
}
