/* CSS declarations go here */

#select-layout a {
  font-size: 11px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Trebuchet MS", helvetica, verdana, arial, tahoma, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #029;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 22px;
  margin: 35px -22px 49px -22px;
  border-width: 2px 0px 2px 0px;
  padding: 18px 22px;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  border-color: #EFC72A;
  background-color: #FFF7C9;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

a {
  color: #029;
}

a:hover {
  color: #029;
}

body {
  font-family: "Trebuchet MS", helvetica, verdana, arial, tahoma, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #029;
}

#wrap {
  
}

.container {
  background-color: white;
}

#main {
  padding: 0px 22px;
}

#main p a {
  text-decoration: underline;
}

#main p {
  text-align: justify;
  margin-bottom: 25px;
  line-height: 25px;
  color: #222;
}

#header-container {
  text-align: center;
  padding: 25px 0px 20px 6%;
}

header #wheel {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.align-right { text-align: right; }
.align-left { text-align: left; }

header .align-right { right: -20px }
header .align-left { left: -20px }

.flag {
  display: inline-block;
}

#prehead {
  padding: 30px 0px;
}

#leaf {
  margin-top: 6px;
}

#main-buttons {
  padding: 10px 15px;
}

.results-table {
  font-size: 13px;
}

.results-table thead {
  font-size: 12px;
}

.date {

}

.course-type a {
  white-space: nowrap;
  color: black;
  text-decoration: none;
}

.comments, .hint {
  color: #666;
  font-style: italic;
}

.status {
  font-weight: bold;
  white-space: nowrap;
}

.date {
  white-space: nowrap;
}

.status-open {
  color: green;
}

.status-waitlist {
  color: orange;
}

.status-closed, .status-long_waitlist {
  color: red;
}

figure img {
  width: 100%;
  margin-bottom: 25px;
}

figure.figure-small {
  width: 20%;
}

figure.figure-medium {
  width: 40%;
}

figure.pull-right {
  margin-left: 25px;
}

figure.pull-left {
  margin-right: 25px;
}

figcaption {
  padding: 5px 0px;
  font-size: 12px;
}

.right-caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: top;
  width: 0;
}
