body {
  font-family: "Trebuchet MS", helvetica, verdana, arial, tahoma, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#top {
  margin-bottom: 18px;
}

#main-content {
  margin: 0px 4%;
}

.static-content {
  margin: 0px 3%;
}

#home-content figure {
  margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Trebuchet MS", helvetica, verdana, arial, tahoma, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #029;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  margin: 0px 0px 40px;
  border-width: 2px 0px;
  padding: 18px 3%;
  border-style: solid;
  border-color: #EFC72A;
  background-color: #FFF7C9;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 13px;
}

p {
  font-size: 12.5px;
}

hr {
  border-style: dotted;
  border-color: #ddd;
}

ul, ol {
  margin-bottom: 25px;
}

a, .btn-link {
  color: #029;
}

a:hover {
  color: #029;
}

#main .tooltip-inner p {
  text-align: left;
  font-size: 13px;
  line-height: 16px;
  color: white;
  margin-bottom: 0px;
  padding: 5px;
}

#main .tooltip p a {
  color: #ccc;
  font-weight: bold;
}

ul.select2-choices, ul.nav {
  margin-bottom: 0px;
}

#main p a {
  text-decoration: underline;
}

#main p {
  font-size: 12.5px;
  text-align: justify;
  margin-bottom: 23px;
  line-height: 23px;
  color: #222;
}

#header-container {
  text-align: center;
  padding: 23px 0px 15px 6%;
}

header #wheel {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.align-right { text-align: right; }
.align-left { text-align: left; }

header .align-right { right: -20px }
header .align-left { left: -20px }

.flag {
  display: inline-block;
}

#prehead {
  padding: 30px 0px;
}

#leaf {
  margin-top: 6px;
}

#main-buttons {
  padding: 10px 15px;
}

figure img {
  width: 100%;
  margin-bottom: 25px;
}

figure.figure-small {
  width: 17%;
}

figure.figure-medium {
  width: 40%;
}

figure.pull-right {
  margin-left: 25px;
}

figure.pull-left {
  margin-right: 25px;
}

figcaption {
  margin-bottom: 15px;
  font-size: 12px;
}

.right-caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: top;
  width: 0;
}

article.panel, article.panel .panel-heading, article.panel .panel-footer, #location-panel, #location-panel .panel-footer {
  border-color: #EFC72A;
}

article.panel .panel-heading {
  padding: 15px 3% 20px;
}

article.panel .panel-body {
  padding: 25px 3% 0px;
}

blockquote {
  color: #029;
}

.yellow-grad, .panel-heading, .panel-footer {
  background: #ffffea; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffea 51%, #fffff4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#ffffea), color-stop(100%,#fffff4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffea 51%,#fffff4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffea 51%,#fffff4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffea 51%,#fffff4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffea 51%,#fffff4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffea', endColorstr='#fffff4',GradientType=0 ); /* IE6-9 */
}

.select2-container-multi .select2-choices .select2-search-field input {
  font-family: "Trebuchet MS", helvetica, verdana, arial, tahoma, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nav-quarters li {
  width: 25%;
  text-align: center;
}

.nav-quarters li a {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.search-toolbar a {
  font-size: 13px;
}

.search-toolbar .btn {
  padding: 6px 8px;
}
