/* CSS declarations go here */

#select-layout a {
  font-size: 11px;
}

h1,h2,h3,h4 {
  font-family: "Trebuchet MS", helvetica, verdana, arial, tahoma, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #029;
}

h2 {
  margin-bottom: 20px;
}

h1 a {
  color: #029;
}

body {
  font-family: "Trebuchet MS", helvetica, verdana, arial, tahoma, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#wrap {
  
}

#main p {
  text-align: justify;
}

#header-container {
  text-align: center;
  padding: 20px 0px 10px;
}

header #wheel {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.align-right { text-align: right; }
.align-left { text-align: left; }

header .align-right { right: -20px }
header .align-left { left: -20px }


.flag {
  display: inline-block;
}

#prehead {
  padding: 30px 0px;
}

#leaf {
  margin-top: 6px;
}

#main-buttons {
  padding: 10px 15px;
}

.results-table {
  font-size: 13px;
}

.results-table thead {
  font-size: 12px;
}

.date {

}

.course-type a {
  white-space: nowrap;
  color: black;
  text-decoration: none;
}

.comments, .hint {
  color: #666;
  font-style: italic;
}

.status {
  font-weight: bold;
  white-space: nowrap;
}

.date {
  white-space: nowrap;
}

.status-open {
  color: green;
}

.status-waitlist {
  color: orange;
}

.status-closed, .status-long_waitlist {
  color: red;
}

figure img {
  width: 100%;
}

figure.figure-small {
  width: 20%;
}

figure.figure-medium {
  width: 40%;
}

figure.pull-right {
  margin-left: 15px;
}

figure.pull-left {
  margin-right: 15px;
}

figcaption {
  padding: 5px 0px;
  font-size: 12px;
}
