#nav-home {
  width: 10%;
}

#nav-region {
  width: 10%;
}

#nav-about {
  width: 25%;
}

#nav-search {
  width: 15%;
}

#nav-resources {
  width: 20%;
}

#nav-special-sites {
  width: 20%;
}

#navbar {
  margin: 20px auto 30px;
}

#navbar li {
  text-align: center;
}

#navbar li a {
  white-space: nowrap;
}

#navbar .dropdown-menu > li > a {
  white-space: normal;
}

#navbar #courses-nav-item {
  // font-weight: bold;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

ul.nav li.dropdown > ul.dropdown-menu {
  text-align: center;
  width: 100%;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
  display: block;    
}
