#nav-home {
  width: 10%;
}

#nav-region {
  width: 10%;
}

#nav-about {
  width: 19%;
}

#nav-search {
  width: 19%;
}

#nav-resources {
  width: 21%;
}

#nav-special-sites {
  width: 21%;
}

#navbar {
  position: relative;
  margin: 20px auto 0;
}

#navbar li {
  text-align: center;
}

#navbar.nav-pills > li > a:hover,
#navbar.nav-pills > li.active > a,
#navbar.nav-pills > li.active > a:hover {
  background-color: transparent;
  color: #029;
}

#navbar.nav-pills > li + li {
  margin-left: 0px;
}

#navbar li a {
  z-index: 10;
  white-space: nowrap;
}

#navbar > li > a {
  font-size: 16px;
}

#navbar > li.dropdown > .dropdown-menu {
  z-index: 1;
  padding: 45px 0px 10px;
  top: -10px;
  min-width: 0;
}

#navbar .dropdown-menu > li > a {
  white-space: normal;
  color: #029;
  border: solid transparent;
  border-width: 1px 0px 1px;
}

#navbar .dropdown-menu > li > a:hover {
  background-color: #FFF7C9;
  border: solid #EFC72A;
  border-width: 1px 0px 1px 0px;
  color: black;
}

#select-region {
  z-index: 10;
  display: none;
  width: 40%;
  position: absolute;
  top: 42px;
  right: 0;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

ul.nav li.dropdown > ul.dropdown-menu {
  text-align: center;
  width: 99%;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
  display: block;    
}

ul.nav ul.dropdown-menu ul.dropdown-menu {
  position: absolute;
  left: 95%;
  top: -7px;
}

ul.nav li.active.dropdown a.dropdown-toggle .caret { 
  border-top-color: white;
  border-bottom-color: white;
}
