.navbar {
  max-width: 700px;
  margin: 15px auto 0px;
}

#navbar {
  margin: 30px auto 0px;
}

#navbar li a {
  white-space: nowrap;
}

#navbar #courses-nav-item {
  // font-weight: bold;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.navbar-inner .dropdown-menu {
  text-align: left;
}

