#sidebar form {
  padding: 10px 15px;
}

#search label {
  font-weight: bold;
  font-size: 13px;
}

#search-submit {
  text-align: center;
  width: 100%;
}

#search.horizontal {
  margin: 15px auto;
}

.horizontal #search-submit {
  margin-top: 37px;
}

.horizontal .control-group {
  float: left;
}
