<template name="locations">
{{willNotRenderCourseLocation}}
{{pageTitle "Locations"}}
<div id="locations-map">
  <div id="locations-map-canvas"></div>
</div>
<hr />
<section id="locations">
{{#each locations}}
<div class="row">
  <div class="span3">
    <div class="location-image-container">
      <img class="location-image" src="{{thumbnail}}" />
    </div>
  </div>
  <div class="span9">
    {{>location_info}}
    <table class="results-table table table-condensed">
    {{! >course_header}}
    {{#each courses}}
      {{>course_row}}
    {{/each}}
    </table>
  </div>
</div>
<hr />
{{/each}}
</section>
</template>

<template name="location_info">
<div class="location-info">
<h3>{{name}}</h3>
<h4>{{where}}</h4>
{{>location_links}}
</div>
</template>

<template name="location_links">
<span class="location-links" class="btn-group">
  <a target="_blank" class="btn btn-mini btn-link" href="{{website}}">Website</a>
  <a target="_blank" class="btn btn-mini btn-link" href="{{map}}">Map</a>
  <a target="_blank" class="btn btn-mini btn-link" href="mailto:{{contact}}">Contact</a>
</span>
</template>
