<template name="course_search">
<header>
  {{#if isAttendeeType "new"}}
  <strong>10-day Courses</strong> are an introductory course to Vipassana Meditation
  where the technique is taught step-by-step each day. The courses begin after
  a 2 - 4 pm registration period and orientation, followed by 10 full days of
  meditation, and end the morning of the 11th day by 7:30 am.
  {{else}} {{#if isAttendeeType "old"}}
  <strong>Old Student Short Courses (1-3 days)</strong> are for any student who has completed the
  10-day course with S.N. Goenka and his assistant teachers. All old students
  are welcome to apply to attend these courses, including those where it has
  been some time since their last course.
  <br />
  <br />
  <strong>30-day Courses</strong> are open only to serious Old Students committed to this
  technique who have completed a minimum of six 10-day courses (one since their
  first 20-day course), one 20-day course, one Satipatthana Sutta course, and
  have been practicing regularly for at least two years.
  <br />
  <br />
  <strong>45-day Courses</strong> are open only to persons involved in Dhamma Service and
  Assistant Teachers who have completed a minimum of seven 10-day courses (one
  since their first 30-day course), two 30-day courses, one Satipatthana Sutta
  course, and have been practicing regularly for at least three years.
  <br />
  <br />
  <strong>Satipatthana Sutta Courses</strong> have the same timetable and discipline as 10-day
  courses. The difference is that in the taped evening discourses the
  Satipatthana Sutta is carefully examined. This is the principal text in which
  the technique of Vipassana is systematically explained. These courses are open
  to serious old students who have sat (not including courses served) at least
  three 10-day courses, have not been practicing any other meditation techniques
  since last 10-day course, have been practicing this technique of Vipassana for
  at least one year, and who are trying to maintain their meditation practice
  and the five precepts in their daily lives, at the very minimum from the time
  of applying to the course.
  <br />
  <br />
  <strong>Service Periods</strong> have been set aside to work on a variety of Centre
  maintenance, construction, household and gardening projects. All Old Students
  are welcome to participate. The daily program will include three group
  sittings with morning and afternoon work periods. On selected evenings, there
  will be tapes played of special discourses and talks that S.N. Goenka has
  given to Old Students.
  <br />
  <br />
  <strong>Old Student Programs</strong> are similar to Service Periods where there is time to
  work on a variety of Centre maintenance, construction, household and gardening
  projects, but have a more full and structured program, an opportunity to meet
  with assistant teachers, and possibly committee and trust meetings. All Old
  Students are welcome to participate. The daily program will include three
  group sittings with morning and afternoon work periods and in the evening
  there will be tapes played of special discourses and talks that S.N. Goenka
  has given to Old Students.
  <br />
  <br />
  <strong>Special 10-day Courses</strong> are open only to serious Old Students committed to this
  technique who have completed a minimum of five 10-day courses, one
  Satipatthana Sutta course, given Dhamma Service at least one 10-day course,
  and have been practicing regularly for at least two years.
  <br />
  <br />
  {{else}} {{#if isAttendeeType "child"}}
  <strong>Children's Courses</strong> are open for all children aged 8-12 years old who wish to
  learn to meditate. Their parents/guardians do not have to be meditators.
  <br />
  <br />
  <strong>Teenagers' Anapana Courses</strong> are available for teens in different age ranges
  from 13-18 years old. Their parents/guardians do not have to be Vipassana
  meditators.
  {{else}} {{#if isAttendeeType "executive"}}
  <strong>10-day Executive courses</strong> are an introductory course to Vipassana Meditation
  especially for business executives and government officials where the
  technique is taught step-by-step each day. For more information please visit
  the Executive course website. The courses begin after a 2-4 pm registration
  period and orientation, followed by 10 full days of meditation, and end the
  morning of the 11th day by 7:30am.
  {{/if}}{{/if}}{{/if}}{{/if}}
</header>
<ul id="student-type-select" class="nav nav-tabs nav-quarters">
  <li class="{{activeIfAttendeeType 'new'}}">
    <a data-attendee-type="new" href="#" class="new-student ">For New Students</a></li>
  <li class="{{activeIfAttendeeType 'old'}}">
    <a data-attendee-type="old" href="#" class="old-student ">For Old Students</a></li>
  <li class="{{activeIfAttendeeType 'child'}}">
    <a data-attendee-type="child" href="#" class="child">For Children/Teens</a></li>
  <li class="{{activeIfAttendeeType 'executive'}}">
    <a data-attendee-type="executive" href="#" class="executive">For Executives</a></li>
</ul>
<div class="search-panel" id="course-search-panel">
  <div class="row">
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-4">
        <input name="search" class="form-control" placeholder="State/Province, Country, Region"></input>
      </div>
      <div class="col-sm-4">
        <input name="starts" class="form-control date" placeholder="Select Date Range"></input>
      </div>
      <div class="col-sm-4">
        <select multiple id="language-filter" class="form-control" data-placeholder="Select Course Language">
          {{>language_options}}
        </select>
      </div>
    </div>
    <br />
    {{#if showAdvancedOptions}}
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <select class="form-control" multiple id="course-type">
            {{#each attendeeCourseTypes attendeeType}}
            <option val="{{this}}">{{courseTypeName this}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        {{#if isAttendeeType 'old'}}
        <div class="form-group">
          <select class="form-control" multiple id="attendee-type">
            <option val="attend">Attend</option>
            <option val="serve">Serve</option>
          </select>
        </div>
        {{/if}}
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    {{/if}}
  </div>
  <div class="col-sm-2">
    <a href="/courses" class="btn btn-apply center" style="width:100%;"><i class="glyphicon glyphicon-search"></i></a>
  </div>
</div>
</div>
</template>
