<template name="directory">
<div class="row">
  <div class="col-sm-3">
    <div class="affix-sidebar" data-spy="affix" data-offset-top="200">
    <ul id="region-list">
      <li><a href="#africa">Africa</a></li>
      <li><a href="#asia">Asia &amp; Pacific</a></li>
      <li><a href="#australia">Australia &amp; New Zealand</a></li>
      <li><a href="#europe">Europe</a></li>
      <li><a href="#india">India</a></li>
      <li><a href="#latin-america">Latin America</a></li>
      <li><a href="#middle-east">Middle East</a></li>
      <li><a href="#myanmar">Myanmar</a></li>
      <li><a href="#north-america">North America</a></li>
    </ul>
    </div>
  </div>
  <div class="col-sm-9">
    <a name="africa"></a>
    <div class="directory-group">
      <header class="directory-header">
        <h3>Africa</h3> 
        <span class="directory-region-details">[ 1 Centers, 15 Non-Centers* ]</span>
      </header>
      <div class="row directory-list">
        <div class="col-md-4">
          {{>region}}
        </div>
        <div class="col-md-4">
          {{>region}}
        </div>
        <div class="col-md-4">
          {{>region}}
        </div>
      </div>
    </div>
    <a name="asia"></a>
    <div class="directory-group">
      <header class="directory-header">
        <h3>Asia &amp; Pacific</h3> 
        <span class="directory-region-details">[ 28 Centers, 5 Non-Centers* ]</span>
      </header>
      <div class="row directory-list">
        <div class="col-md-4">
          <div class="region">
            <img class="pull-left" src="/images/flags/kh.png" width=35 height=35 />
            <span class="name"><a href="#">Cambodia</a></span>
            {{>region_links}}
          </div>
          <div class="region">
            <img class="pull-left" src="/images/flags/jp.png" width=35 height=35 />
            <span class="name">
              <header class="directory-header">
              <a href="#">Japan</a>
              <span class="directory-region-details">[ 2 Centers ]</span>
              </header>
            </span>
            <div class="directory-group">
              <div class="region">
                <span class="name"><a href="#">Chosei-gun, Chiba-ken</a></span>
                {{>region_links}}
              </div>
              <div class="region">
                <span class="name"><a href="#">Funai-gun, Kyoto</a></span>
                {{>region_links}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          {{>region}}
        </div>
        <div class="col-md-4">
          {{>region}}
        </div>
      </div>
    </div>
    <div class="directory-group">
      <header class="directory-header">
        <h3>Europe</h3> 
        <span class="directory-region-details">[ 9 Centers, 41 Non-Centers* ]</span>
      </header>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
</template>
