<template name="header_split">
<header>
  <div class="row">
  <div class="col-xs-5 align-right">
    <h1>Vipassana</h1>
    <p>As Taught By <a href="#">S.N. Goenka</a></p>
  </div>
  <div class="col-xs-2" id="wheel">
    <img src="/images/aniwheel.gif">
  </div>
  <div class="col-xs-5 align-left">
    <h1>Meditation</h1>
    <p>in the tradition of <a href="#">Sayagyi U Ba Khin</a></p>
  </div>
  </div>
</header>
</template>

<template name="header_inline">
<header>
  <div class="row">
    <div class="col-sm-2"><img src="/images/aniwheel.gif" /></div>
    <div class="col-sm-8">
      <h1><a class="logo" href="/">Vipassana Meditation</a></h1>
      <p>As Taught By <a href="#">S.N. Goenka</a><br />
        in the tradition of <a href="#">Sayagyi U Ba Khin</a></p>
    </div>
    <div id="leaf" class="col-sm-2"><img src="/images/bleaf.gif" /></div>
  </div>
</header>
</template>

<template name="header">
<div id="header-container">
  {{{renderHeader}}}
</div>
</template>
