<template name="location_search">
<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-plane"></i>
      </span>
      <input class="form-control" type="text" id="near-by-airport" placeholder="City or airport code..." />
      <span class="input-group-btn">
        <a href="/courses" class="btn btn-primary" type="button"><i class="glyphicon
            glyphicon-search"></i> Search</a>
      </span>
    </div>
  </div>
</div>
</template>
