<template name="navbar">
<ul id="navbar" class="nav nav-pills">
  <li id="nav-home" class="{{activeIfHome}} "><a href="/" title="Home"><i
        class="glyphicon glyphicon-home"></i></a></li>
  <li id="nav-about" class="{{activeIfCurrentPage 'about'}} dropdown">
    <a class="dropdown-toggle" href="/about/the-technique" data-toggle="dropdown">
      <i class="glyphicon glyphicon-leaf"></i> About
    </a>
    <ul class="dropdown-menu" id="about-menu">
      <li><a href="/about/the-technique">What is Vipassana?</a></li>
      <li><a href="/about/goenka">S.N. Goenka</a></li>
      <li><a href="/about/art-of-living">Art of Living</a></li>
      <li><a href="/about/code-of-discipline">Code of Discipline</a></li>
      <li><a href="/about/questions-and-answers">Questions & Answers</a></li>
    </ul>
  </li>
  <li id="nav-search" class="{{activeIfCurrentPage 'search'}} dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/search/courses">
      <i class="glyphicon glyphicon-search"></i> 
      Search
    </a>
    <ul class="dropdown-menu" id="courses-menu">
      <li>
        <a href="/search/courses">Courses</a>
      </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"
            href="/search/locations">
            Locations
          </a>
        <ul class="dropdown-menu">
          <li><a href="/search/locations">By Nearby Airport</a></li>
          <li><a href="/search/regions">By Region</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Maps</a>
        <ul class="dropdown-menu">
          <li><a href="/search/maps/worldwide">Worldwide</a></li>
          <li><a href="/search/maps/india-and-nepal">India & Nepal</a></li>
        </ul>
      </li>
      <li><a href="/search/contacts">Contacts</a></li>
    </ul>
  </li>
  <li id="nav-resources" class="{{activeIfCurrentPage 'resources'}} dropdown" href="/resources">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="glyphicon glyphicon-book"></i> 
      Resources
    </a>
    <ul class="dropdown-menu" id="resources-menu">
      <li><a href="/old-students">For Old Students</a></li>
      <li><a href="/media">Media Downloads</a></li>
      <li><a href="/app">Vipassana App</a></li>
    </ul>
  </li>
  <li id="nav-special-sites" class="{{activeIfCurrentPage 'special_sites'}} dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="glyphicon glyphicon-asterisk"></i> 
      Special Sites
    </a>
    <ul class="dropdown-menu" id="special-sites-menu">
      <li><a href="#">Vipassana for Executives</a></li>
      <li><a href="#">Vipassana for Prisons</a></li>
      <li><a href="#">Children's Courses</a></li>
      <li><a href="#">Vipassana Research Institute</a></li>
      <li><a href="#">Global Pagoda</a></li>
    </ul>
  </li>
  <li id="nav-region" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Select
      Region and Language"><i class="glyphicon glyphicon-globe"></i></a>
  </li>
  {{>select_region}}
</ul>
</template>
