<template name="search_form_horizontal">
<form class="horizontal" id="search-form">
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <label>For a</label>
        <select class="form-control input-sm" multiple id="attendee-type" class="input-sm">
          {{#key_value attendeeTypes}}
          <option value="{{key}}">{{value}}</option>
          {{/key_value}}
        </select>
      </div>
      <div class="form-group">
        <label>Course Type</label>
        <select class="form-control input-sm" multiple id="course-type" class="input-sm">
          {{#each attendeeCourseTypes attendeeType}}
          <option val="{{this}}">{{courseTypeName this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div id="search-dates" class="col-xs-4">
      <div class="form-group">
        <label>Start Date</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input name="starts" class="form-control input-sm"
          placeholder="Optional"></input>
        </div>
      </div>
      <div class="form-group">
        <label>End Date</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input name="ends" class="form-control input-sm" placeholder="Optional"></input>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <label>Located Near</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
        <input name="near" class="form-control input-sm" placeholder="Optional"></input>
      </div>
      <a id="search-submit" class="btn btn-default">Apply Search Filters</a>
    </div>
  </form>
</template>
