<template name="select_region">
<div id="select-region" class="panel panel-default">
  <div class="panel-body">
    <select style="width:100%" name="region">
      <option>Select Language</option>
      {{>language_options}}
    </select>
    </div>
    <br />
  </div>
</div>
</template>

<template name="language_options">
<option>Abkhazian</option>
<option>Afrikaans</option>
<option>Akan</option>
<option>Aragonese</option>
<option>Avaric</option>
<option>Avestan</option>
<option>Aymara</option>
<option>Azərbaycanca</option>
<option>Bahasa Indonesia</option>
<option>Bahasa Melayu</option>
<option>Bamanakan</option>
<option>Bashkir</option>
<option>Bihari</option>
<option>Bislama</option>
<option>Bosanski</option>
<option>Brezhoneg</option>
<option>Català</option>
<option>Chamorro</option>
<option>Chechen</option>
<option>ChiShona</option>
<option>Church Slavic</option>
<option>Chuvash</option>
<option>Corsican</option>
<option>Cree</option>
<option>Cymraeg</option>
<option>Dansk</option>
<option>Davvisámegiella</option>
<option>Deutsch</option>
<option>Divehi</option>
<option>Eesti</option>
<option>English</option>
<option>Español</option>
<option>Esperanto</option>
<option>Euskara</option>
<option>Eʋegbe</option>
<option>Fijian</option>
<option>Français</option>
<option>Føroyskt</option>
<option>Gaeilge</option>
<option>Gaelg</option>
<option>Galego</option>
<option>Gikuyu</option>
<option>Guarani</option>
<option>Haitian</option>
<option>Hausa</option>
<option>Herero</option>
<option>Hiri Motu</option>
<option>Hrvatski</option>
<option>Ido</option>
<option>Igbo</option>
<option>Ikirundi</option>
<option>Interlingua</option>
<option>Interlingue</option>
<option>Inuktitut</option>
<option>Inupiaq</option>
<option>IsiNdebele</option>
<option>IsiNdebele</option>
<option>IsiXhosa</option>
<option>IsiZulu</option>
<option>Italiano</option>
<option>Javanese</option>
<option>Kalaallisut</option>
<option>Kanuri</option>
<option>Kashmiri</option>
<option>Kernewek</option>
<option>Kinyarwanda</option>
<option>Kiswahili</option>
<option>Komi</option>
<option>Kongo</option>
<option>Kuanyama</option>
<option>Latin</option>
<option>Latviešu</option>
<option>Lea fakatonga</option>
<option>Lietuvių</option>
<option>Limburgish</option>
<option>Lingála</option>
<option>Luganda</option>
<option>Luxembourgish</option>
<option>Magyar</option>
<option>Malagasy</option>
<option>Malti</option>
<option>Maori</option>
<option>Marshallese</option>
<option>Nauru</option>
<option>Navajo</option>
<option>Ndonga</option>
<option>Nederlands</option>
<option>Norsk</option>
<option>Norsk bokmål</option>
<option>Nyanja</option>
<option>Nynorsk</option>
<option>Occitan</option>
<option>Ojibwa</option>
<option>Oromoo</option>
<option>Ossetic</option>
<option>Pali</option>
<option>Polski</option>
<option>Português</option>
<option>Pulaar</option>
<option>Qafar</option>
<option>Quechua</option>
<option>Română</option>
<option>Rumantsch</option>
<option>Samoan</option>
<option>Sanskrit</option>
<option>Sardinian</option>
<option>Scottish Gaelic</option>
<option>Sesotho</option>
<option>Setswana</option>
<option>Shqipe</option>
<option>Sindhi</option>
<option>Siswati</option>
<option>Slovenčina</option>
<option>Slovenščina</option>
<option>Soomaali</option>
<option>Sorbian</option>
<option>Sundanese</option>
<option>Suomi</option>
<option>Svenska</option>
<option>Sängö</option>
<option>Tagalog</option>
<option>Tahitian</option>
<option>Tajik</option>
<option>Tatar</option>
<option>Tiếng Việt</option>
<option>Tshiluba</option>
<option>Tshivenḓa</option>
<option>Turkmen</option>
<option>Twi</option>
<option>Türkçe</option>
<option>Uyghur</option>
<option>Volapük</option>
<option>Walloon</option>
<option>Western Frisian</option>
<option>Wolof</option>
<option>Xitsonga</option>
<option>Yiddish</option>
<option>Zhuang</option>
<option>Èdè Yorùbá</option>
<option>íslenska</option>
<option>čeština</option>
<option>中文</option>
<option>ไทย</option>
<option>ລາວ</option>
<option>ဗမာ</option>
<option>日本語</option>
<option>ꆈꌠꉙ</option>
<option>한국어</option>
<option>اردو</option>
<option>پښتو</option>
<option>ትግርኛ</option>
<option>አማርኛ</option>
<option>Ўзбек</option>
<option>עברית</option>
<option>فارسی</option>
<option>کوردی</option>
<option>मराठी</option>
<option>বাংলা</option>
<option>ଓଡ଼ିଆ</option>
<option>தமிழ்</option>
<option>ಕನ್ನಡ</option>
<option>සිංහල</option>
<option>қазақ тілі</option>
<option>Кыргыз</option>
<option>Српски</option>
<option>монгол</option>
<option>नेपाली</option>
<option>हिन्दी</option>
<option>ਪੰਜਾਬੀ</option>
<option>తెలుగు</option>
<option>മലയാളം</option>
<option>རྫོང་ཁ</option>
<option>русский</option>
<option>Հայերէն</option>
<option>العربية</option>
<option>অসমীয়া</option>
<option>ગુજરાતી</option>
<option>ქართული</option>
<option>Ελληνικά</option>
<option>པོད་སྐད་</option>
<option>български</option>
<option>ភាសាខ្មែរ</option>
<option>беларуская</option>
<option>македонски</option>
<option>українська</option>
</template>
