<template name="select_region">
<div id="select-region" class="panel panel-default">
  <div class="panel-body">
    <h4>Select Region</h4>
    <select style="width:100%" name="region">
      <option>United States</option>
    </select>
    <hr />
    <h4>Select Language</h4>
    <select style="width:100%" name="region">
      <option>English</option>
    </select>
    <hr />
    <button type="button" class="btn btn-primary btn-sm">Save Preferences</button>
    <button type="button" class="btn btn-default btn-sm float-right"
      data-dismiss="modal">Cancel</button>
  </div>
</div>
</template>
