<template name="nav">
<ul id="nav" class="nav nav-list">
  <li class="nav-header">Information</li>
  <li><a href="the-technique">What is Vipassana?</a></li>
  <li><a href="goenka">S.N. Goenka</a></li>
  <li><a href="art-of-living">Art of Living</a></li>
  <li><a href="code-of-discipline">Code of Discipline</a></li>
  <li><a href="questions-and-answers">Questions & Answers</a></li>

  <li class="nav-header">Course Locations</li>
  <li><a href="#"><i class="icon icon-black icon-globe"></i> Map</a></li>
  <li><a href="#">India</a></li>
  <li><a href="#">Asia/Pacific</a></li>
  <li><a href="#">North America</a></li>
  <li><a href="#">Latin America</a></li>
  <li><a href="#">Europe</a></li>
  <li><a href="#">Australia/NZ</a></li>
  <li><a href="#">Middle East</a></li>
  <li><a href="#">Africa</a></li>
  <li class="nav-header">CONTACTS</li>
  <li><a href="#">Worldwide Contacts</a></li>
  <li><a href="#">Vipassana Centers</a></li>
  <li class="nav-header">OTHER REFERENCES</li>
  <li><a href="#">Old Students</a></li>
  <li><a href="#">Courses for Children & Teens</a></li>
  <li><a href="#">Vipassana Research Institute</a></li>
  <li><a href="#">Global Vipassana Pagoda</a></li>
</ul>
</template>
