<template name="sort">
<div id="course-list-setting" class="btn-toolbar">
  <div class="btn-group">
    <a id="view-table" class="btn btn-link {{activeIfTable}}">
      <i class="glyphicon glyphicon-list-alt icon-white"></i> Table</a>
    <a id="view-list" class="btn btn-link {{activeIfList}}">
      <i class="glyphicon glyphicon-th-list icon-white"></i> List</a>
    <a id="view-map" class="btn btn-link {{activeIfMap}}">
      <i class="glyphicon glyphicon-globe icon-white"></i> Map</a>
  </div>
</div>
</template>
