<template name="sort">
<div id="course-list-setting" class="search-toolbar btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-link disabled">View:</a>
    <a id="view-table" class="btn btn-link {{activeIfTable}}">Table</a>
    <a id="view-list" class="btn btn-link {{activeIfList}}">List</a>
  </div>
  <div class="btn-group pull-right">
    <a class="btn btn-link disabled">Page:</a>
    <a class="btn btn-link">Prev</a>
    <a class="btn btn-link active">1</a>
    <a class="btn btn-link">2</a>
    <a class="btn btn-link">3</a>
    <a class="btn btn-link">4</a>
    <a class="btn btn-link">Next</a>
  </div>
</div>
</template>
