<template name="courses">
{{willRenderCourseLocation}}
<h2>Courses</h2>
{{>location_search}}
{{>course_search}}
<br />
{{>sort}}
<br />
<br />
{{#if styleIs "list"}}
{{#each courses}}
{{>course}}
<hr />
{{/each}}
{{/if}}
{{#if styleIs "table"}}
  <table class="results-table table table-condensed">
  {{>course_header}}
  {{#each courses}}
    {{>course_row}}
  {{/each}}
</table>
{{/if}}
{{#if styleIs "map"}}
<iframe height=600 width="100%" src="http://courses.dhamma.org/en/maps/001"></iframe>
{{/if}}
</template>

<template name="course_header">
<thead>
  <tr>
    <td></td>
    <td><i class="glyphicon glyphicon-sort"></i> Type</td>
    <td>Dates</td>
    {{#if renderCourseLocation}}
    <td>Location</td>
    {{/if}}
    <td>Status</td>
    <td>Comments</td>
  </tr>
</thead>
</template>

<template name="course">
<div class="course row">
  <div class="col-sm-4">
    <div class="location-image-container">
      {{#with location}}
      <img name="{{sub_domain}}" onerror="console.log($(this).attr('name'))" class="location-image" src="{{ header_image_path }}" />
      {{/with}}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="course-info">
      <h3>
        <a class="info" data-placement="bottom" data-toggle="tooltip" href="#" data-html="true"
        title="{{course_type_description}}"><i class="icon icon-info-sign"></i> {{course_type}}</a>
      </h3>
      {{#with location}}
        <h4><a href="/locations/{{sub_domain}}">{{dhamma_name}}</a></h4>
        <h5>{{display_name}}</h5>
        <h5>{{city}}</h5>
        {{>location_links}}
      {{/with}}
    </div>
  </div>
  <div class="col-sm-5">
    <h3> </h3>
    <h4>
      <span class="date">{{formatDate course_start_date}}</span> 
      {{#if course_end_date}}
      - 
      <span class="date">{{formatDate course_end_date}}</span>
      {{/if}}
    </h4>
    <a class="btn btn-default">Apply</a>
    {{#if comments_html}}
    <p class="comments">
      <br />
      {{{comments_html}}}
    </p>
    {{/if}}
  </div>
</div>
</template>

<template name="course_row">
<tr class="course-row"> 
  <td><a class="btn btn-primary">Apply</a></td> 
  <td class="course-type">
    <a class="info" data-placement="bottom"
      data-toggle="tooltip" href="#" data-html="true"
      title="{{course_type_description}}"><i class="icon icon-info-sign"></i> {{course_type}}</a>
    <br />
  </td> 
  <td class="course-date">
    <span class="date">{{formatDate course_start_date}}</span> 
    {{#if course_end_date}}
    - 
    <span class="date">{{formatDate course_end_date}}</span>
    {{/if}}
    <br />
  </td>
  {{#if renderCourseLocation}}
  <td class="location">
    {{#with location}}
    {{display_name}}<br />
    {{>location_links}}
    {{/with}}
  </td> 
  {{/if}}
  <td>
    {{>course_status}}
  </td> 
  <td class="comments">
    {{comments}}
  </td> 
</tr>
</template>

<template name="course_status">
{{#if status}}
<span class="status status-{{status}}">{{courseStatusName course_status}}</span>
{{else}}
  {{#key_value statuses}}
  <div class="status">
    {{titleCase key}}: <span class="status-{{value}}">{{courseStatusName value}}</span>
  </div>
  {{/key_value}}
{{/if}}
</template>
