<template name="courses">
{{willRenderCourseLocation}}
<h2 style="margin-bottom: 0px;">Courses</h2>
<div id="course-search">
{{>course_search}}
{{>sort}}
<br />
{{#if styleIs "list"}}
{{#each courses}}
{{>course}}
<hr />
{{/each}}
{{/if}}
{{#if styleIs "table"}}
  <table class="results-table table table-hover">
  {{>course_header}}
  {{#each courses}}
    {{>course_row}}
  {{/each}}
  </table>
{{/if}}
{{#if styleIs "map"}}
<iframe frameborder=0 height=600 width="100%" src="http://courses.dhamma.org/en/maps/001"></iframe>
{{/if}}
</template>

<template name="course_header">
<thead>
  <tr>
    <td>Attend/Serve</td>
    <td>Dates<img src="/images/sort.gif" /></td>
    <td>Type<img src="/images/sort.gif" /></td>
    <td>Status<img src="/images/sort.gif" /></td>
    {{#if renderCourseLocation}}
    <td>Location<img src="/images/sort.gif" /></td>
    <td>Distance<img src="/images/sort.gif" /></td>
    {{/if}}
    <td>Comments</td>
  </tr>
</thead>
</template>

<template name="course">
<div class="course row">
  <div class="col-sm-3">
    <h3>
      <a class="info" data-placement="bottom" data-toggle="tooltip" href="#" data-html="true"
      title="{{course_type_description}}"><i class="icon icon-info-sign"></i> {{course_type}}</a>
    </h3>
    <a class="btn btn-apply">Apply</a>
    {{#if comments_html}}
    <p class="comments">
      <br />
      {{{comments_html}}}
    </p>
    {{/if}}
  </div>
  <div class="col-sm-3">
    <div class="course-info">
      <h3>
        <span class="date">{{formatDate course_start_date}}</span> 
        {{#if course_end_date}}
        - 
        <span class="date">{{formatDate course_end_date}}</span>
        {{/if}}
      </h3>
      {{>course_status}}
    </div>
  </div>
  <div id="location" class="col-sm-3">
    {{#with location}}
      <h3><a href="/locations/{{sub_domain}}">{{dhamma_name}}</a></h3>
      <h4>{{city}}, {{country}}</h4>
      {{>location_links}}
    {{/with}}
  </div>
  <div class="col-sm-3">
    <div class="location-image-container">
      {{#with location}}
      <img name="{{sub_domain}}" onerror="console.log($(this).attr('name'))" class="location-image" src="{{ header_image_path }}" />
      {{/with}}
    </div>
  </div>
</div>
</template>

<template name="course_row">
<tr class="course-row"> 
  <td><a class="underline" href="#">Apply</a></td> 
  <td class="course-date">
    <span class="date">{{formatDate course_start_date}}</span> 
    {{#if course_end_date}}
    - 
    <span class="date">{{formatDate course_end_date}}</span>
    {{/if}}
    <br />
  </td>
  <td class="course-type">
    <a class="info" data-placement="bottom"
      data-toggle="tooltip" href="#" data-html="true"
      title="{{course_type_description}}"><i class="icon icon-info-sign"></i> {{course_type}}</a>
    <br />
  </td> 
  <td>
    {{>course_status}}
  </td> 
  {{#if renderCourseLocation}}
  <td class="location">
    {{#with location}}
    {{dhamma_name}}<br />
    {{city}}, {{country}}
    {{/with}}
  </td> 
  <td class="distance">
     65 miles
  </td>
  {{/if}}
  <td class="comments">
    {{comments}}
  </td> 
</tr>
</template>

<template name="course_status">
{{#if status}}
<span class="status status-{{statusClass}}">{{status}}</span>
{{else}}
  {{#key_value statuses}}
  <div class="status">
    {{titleCase key}}: <span class="status-{{value}}">{{courseStatusName value}}</span>
  </div>
  {{/key_value}}
{{/if}}
</template>
