<template name="courses">
{{willRenderCourseLocation}}
{{title "Courses"}}
{{>search_form_horizontal}}
<hr />
{{>sort}}
<hr />
<table class="results-table table">
  {{>course_header}}
  {{#each courses}}
  {{>course_row}}
  {{/each}}
</table>
</template>

<template name="course_header">
<thead>
  <tr>
    <td></td>
    <td>Type</td>
    {{#if renderCourseLocation}}
    <td>Location</td>
    {{/if}}
    <td>Dates</td>
    <td>Status</td>
    <td>Comments</td>
  </tr>
</thead>
</template>

<template name="course_row">
<tr class="course-row"> 
  <td><a class="btn btn-xs btn-primary">Apply</a></td> 
  <td class="course-type">
    <a class="info" data-placement="bottom"
      data-toggle="tooltip" href="#" data-html="true"
      title="{{course_type_description}}"><i class="icon icon-info-sign"></i> {{course_type}}</a>
    <br />
  </td> 
  {{#if renderCourseLocation}}
  <td class="location">
    {{#with location}}
    <img src="{{header_image_path}}" class="pull-left" width=60 height=40 />
    {{display_name}}<br />
    {{>location_links}}
    {{/with}}
  </td> 
  {{/if}}
  <td class="course-date">
    <span class="date">{{formatDate course_start_date}}</span> 
    {{#if course_end_date}}
    - 
    <span class="date">{{formatDate course_end_date}}</span>
    {{/if}}
    <br />
  </td>
  <td>
    {{>course_status}}
  </td> 
  <td class="comments">
    {{comments}}
  </td> 
</tr>
</template>

<template name="course_status">
{{#if status}}
<span class="status status-{{status}}">{{courseStatusName course_status}}</span>
{{else}}
  {{#key_value statuses}}
  <div class="status">
    {{titleCase key}}: <span class="status-{{value}}">{{courseStatusName value}}</span>
  </div>
  {{/key_value}}
{{/if}}
</template>
