<template name="home">
{{ title "" }}
<p id="home-content">
  <p>
    <a href="/en/vipassana.shtml">Vipassana</a>,
    which means to see things as
    they really are, is one of India's most ancient techniques of meditation.
    It was taught in India more than 2500 years ago as a universal remedy for
    universal ills, i.e., an
    <a href="/en/art.shtml">Art of Living</a>.
    For those who are not familiar with Vipassana Meditation, an
    <a href="http://video.server.dhamma.org/video/intro/vintro.htm">Introduction to Vipassana by Mr. Goenka & related videos</a>
    and
    <a href="/en/qanda.shtml">Questions &amp; Answers</a>
    about Vipassana are available. 
  </p>
  <hr>
  <p>
    The technique of Vipassana Meditation is taught at ten-day residential
    courses during which participants learn the basics of the method, and
    practice sufficiently to experience its beneficial results.
  </p>
  <hr>
  <p>
    There are no charges for the courses - not even to cover the cost
    of food and accommodation.  All expenses are met by donations from
    people who, having completed a course and experienced the benefits
    of Vipassana, wish to give others the opportunity to also benefit.
  </p>
  <hr>
  <p>
    Courses are given in numerous Meditation Centers and at non-center
    course locations at rented sites. Each location has its own schedule
    of courses. In most cases, an application for admission to each of
    these courses can be made by clicking on a selected one of the
    listed course dates that appear in the schedule.
  </p>
  <p>
    There are numerous Centers in <a href="/en/bycountry/ap/in/">India</a>
    and elsewhere in <a href="/en/bycountry/ap/">Asia/Pacific</a>;
    ten Centers in <a href="/en/bycountry/na/">North America</a>;
    three Centers in <a href="/en/bycountry/la/">Latin America</a>; 
    eight Centers in <a href="/en/bycountry/eu/">Europe</a>;
    seven Centers in <a href="/en/bycountry/anz/">Australia/New Zealand</a>;
    one Center in the <a href="/en/bycountry/me/">Middle East</a>
    and one Center in <a href="/en/bycountry/af/">Africa</a>.
  </p>
  <hr>
  <p>
    Ten day non-center courses are frequently held at many locations 
    outside of Centers as they are arranged by local students of 
    Vipassana in those areas. An <a href="/en/alphalist.shtml">alphabetical 
      list</a> of worldwide course locations is available as well as a graphical
    interface of course locations <a href="/en/worldmap.html">worldwide</a>
    and in <a href="/en/indiamap.html">India and Nepal</a>.  
  </p>
  <hr>
  <p>
    Vipassana Meditation courses are also being taught in
    <a href="http://www.prison.dhamma.org/">prisons</a>.
  </p>
  <hr>
  <p>
    A special 10-day Vipassana course especially for business executives
    and government officials is being held periodically at several centers
    around the world. For additional information visit the
    <a href="http://www.executive.dhamma.org/">Executive Course Website.</a>
  </p>
  <hr>
  <p>
    Information on Vipassana Meditation is also available in the
    <a href="/en/language.shtml">other languages</a>
    shown below.
  </p>
  <hr>
</p>
</template>
