<template name="locations">
{{willNotRenderCourseLocation}}
<h2>Locations</h2>
{{>location_search}}
<!--
<div id="locations-map">
  <div id="locations-map-canvas"></div>
</div>
-->
<hr />
<section id="locations">
{{#each locations}}
<div class="row">
  <div class="col-sm-4">
    <div class="location-image-container">
      <img name="{{sub_domain}}" onerror="console.log($(this).attr('name'))" class="location-image" src="{{ header_image_path }}" />
    </div>
  </div>
  <div class="col-sm-8">
    <div class="location-info">
      <h3><a href="/locations/{{sub_domain}}">{{dhamma_name}}</a></h3>
    <h4>{{display_name}}</h4>
    <h4>{{city}}</h4>
    {{>location_links}}
    </div>
    <table class="results-table table table-condensed">
    {{! >course_header}}
    {{#each courses}}
      {{>course_row}}
    {{/each}}
    </table>
  </div>
</div>
<hr />
{{/each}}
</section>
</template>

<template name="location_links">
<span class="location-links" class="btn-group">
  <a target="_blank" class="btn btn-xs btn-link" href="{{website}}">Website</a>
  <a target="_blank" class="btn btn-xs btn-link" href="{{map}}">Map</a>
  <a target="_blank" class="btn btn-xs btn-link" href="mailto:{{contact}}">Contact</a>
</span>
</template>
