<template name="location">
<div class="row">
  <div class="col-sm-3">
    <div class="location-image-container">
      <img name="{{sub_domain}}" onerror="console.log($(this).attr('name'))" class="location-image" src="{{ header_image_path }}" />
    </div>
  </div>
  <div class="col-sm-9">
    <div class="location-info">
      <h2>{{dhamma_name}}</h2>
      <h4>{{display_name}}</h4>
      <h4>{{city}}</h4>
      {{>location_links}}
    </div>
  </div>
</div>
<h4>Courses at this location:</h4>
<table class="results-table table">
{{>course_header}}
{{#each courses}}
  {{>course_row}}
{{/each}}
</table>
</template>
