<template name="location">
<h2>{{dhamma_name}}</h2>
<div class="row">
  <div class="col-sm-4">
    <div class="location-image-container">
      <img name="{{sub_domain}}" onerror="console.log($(this).attr('name'))" class="location-image" src="{{ header_image_path }}" />
    </div>
  </div>
  <div class="col-sm-8">
    <div class="location-info">
      <h4>{{display_name}}</h4>
      <h4>{{city}}</h4>
      {{>location_links}}
    </div>
  </div>
</div>
<h3 style="text-align:center">Courses at this location:</h3>
{{#if anyCourses}}
<table class="results-table table">
{{>course_header}}
  {{#each courses}}
    {{>course_row}}
  {{/each}}
</table>
{{else}}
There are currently no courses scheduled at this location.
{{/if}}
</template>
