<template name="locations">
{{willNotRenderCourseLocation}}
<h2>Locations</h2>
{{>location_search}}
<!--
<div id="locations-map">
  <div id="locations-map-canvas"></div>
</div>
-->
<section id="locations">
<div class="image_carousel">
  <div id="locations-carousel">
  {{#each locations}}
  <div class="carousel-item">
    <img height=120 width=155 name="{{sub_domain}}" onerror="console.log($(this).attr('name'))" src="{{ header_image_path }}" />
    <span class="meta">
      <a href="/search/locations/{{sub_domain}}">{{dhamma_name}}</a><br />
      {{city}}, {{country}}
    </span>
  </div>
  {{/each}}
  </div>
  <div class="clearfix"></div>
  <a class="prev" id="locations-prev" href="#"><span>&lt;</span></a>
  <a class="next" id="locations-next" href="#"><span>&gt;</span></a>
</div>
</section>
</template>

<template name="location_links">
<span class="location-links" class="btn-group">
  <a target="_blank" class="btn btn-xs btn-link" href="{{website}}">Website</a>
  <a target="_blank" class="btn btn-xs btn-link" href="{{map}}">Map</a>
  <a target="_blank" class="btn btn-xs btn-link" href="mailto:{{contact}}">Contact</a>
</span>
</template>
