<template name="locations">
{{willNotRenderCourseLocation}}
<h2>Locations</h2>
{{>location_search}}
<section id="locations">
<div class="image_carousel">
  <div id="locations-carousel">
  {{#each locations}}
  <div class="carousel-item">
    <a class="location-link" href="#">
      <img height=120 width=155 name="{{sub_domain}}" onerror="console.log($(this).attr('name'))" src="{{ header_image_path }}" />
      <span class="meta">
        {{dhamma_name}}<br />
        <span class="small">{{city}}, {{country}}</span>
      </span>
    </a>
  </div>
  {{/each}}
  </div>
  <div class="clearfix"></div>
  <a class="prev" id="locations-prev" href="#"><span>&lt;</span></a>
  <a class="next" id="locations-next" href="#"><span>&gt;</span></a>
</div>

<div id="selected-location"> </div>
</section>
</template>

<template name="location">
<div id="location-panel" class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="location-image-container">
          <img name="{{sub_domain}}" onerror="console.log($(this).attr('name'))" class="location-image" src="{{ header_image_path }}" />
        </div>
      </div>
      <div class="col-sm-8">
        <div class="location-body">
          <div class="location-info">
            <h3>{{display_name}}</h3>
            <h4 id="dhamma-name" title="{{dhamma_name_meaning}}">
              {{dhamma_name}}
              {{#if dhamma_name_meaning}}
              <span class="dhamma-name-meaning"> - {{dhamma_name_meaning}}</span>
              {{/if}}
            </h4>
            <h4>{{city}}, {{country}}</h4>
          </div>
          {{>location_links}}
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="panel-footer">
    {{#if anyCourses}}
    <h4>Courses at this location:</h4>
    {{!>course_search}}
    <table class="results-table table">
      {{>course_header}}
      {{#each courses}}
      {{>course_row}}
      {{/each}}
    </table>
    {{else}}
      <div style="text-align:center;color:#666">There are currently no courses scheduled at this location.</div>
    {{/if}}
  </div>
</div>
</template>

<template name="location_links">
<div class="location-links btn-group">
  <a target="_blank" class="btn btn-link btn-default" href="{{website}}">Website</a>
  <a target="_blank" class="btn btn-link btn-default" href="{{map}}">Map</a>
  <a target="_blank" class="btn btn-link btn-default" href="mailto:{{contact}}">Contact</a>
</div>
</template>
