<template name="header">
<header>
  <div class="row">
    <div id="wheel" class="span2"><img src="images/aniwheel.gif" /></div>
    <div class="span8">
      <h1><a class="logo" href="/">Vipassana Meditation</a></h1>
      {{#if hasTitle}}
        <p class="lead">{{ title }}</p>
      {{else}}
        <p>As Taught By <a href="#">S.N. Goenka</a><br />
          in the tradition of <a href="#">Sayagyi U Ba Khin</a></p>
      {{/if}}
    </div>
    <div id="leaf" class="span2"><img src="images/bleaf.gif" /></div>
  </div>
</header>
<hr />
</template>
