<template name="main_buttons">
<section id="main-buttons">
  <a id="search-button" class="btn btn-small btn-info" data-toggle="collapse" data-target="#search">
    <i class="icon-white icon-search"></i>  Courses</a>
  <a id="select-language-button" class="btn btn-small btn-secondary"
    data-toggle="collapse" data-target="#language">
    <i class="flag flag-us"></i></a>
  <a id="collapse-nav-button" class="btn btn-small btn-secondary visible-phone
    pull-right"
    data-toggle="collapse" data-target="#nav">
    <i class="icon-black icon-align-justify"></i>
  </a>
</section>
</template>
