<template name="nav_horizontal">
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="{{activeIfCurrentPage 'home'}}"><a href="/"><i class="icon icon-home"></i></a></li>
      <li class="{{activeIfCurrentPage 'courses'}}"><a href="#" data-toggle="collapse"
          data-target="#search"><i class="icon icon-search"></i> Courses</a></li>
      <li class="{{activeIfCurrentPage 'locations'}}"><a href="locations"><i class="icon icon-globe"></i> Locations</a></li>
      <li class="{{activeIfCurrentPage 'contacts'}}"><a href="contacts"><i class="icon icon-user"></i> Contacts</a></li>
      <li class="{{activeIfCurrentPage 'resources'}}"><a href="resources"><i class="icon icon-book"></i> Resources</a></li>
    </ul>
  </div>
</div>
</template>
