<template name="nav_horizontal">
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="{{activeClass 'home'}}"><a href="/"><i class="icon icon-home"></i></a></li>
      <li class="{{activeClass 'search'}}"><a href="search"><i class="icon icon-search"></i> Find a Course</a></li>
      <li class="{{activeClass 'locations'}}"><a href="locations"><i class="icon icon-globe"></i> Locations</a></li>
      <li class="{{activeClass 'contacts'}}"><a href="contacts"><i class="icon icon-user"></i> Contacts</a></li>
      <li class="{{activeClass 'resources'}}"><a href="resources"><i class="icon icon-book"></i> Resources</a></li>
    </ul>
  </div>
</div>
</template>
